.wrap {
  background: #F6F9FF;

  .form_select {
    display: flex;
    padding-left: 9.5%;
    position: sticky;
    top: 87px;
    background: #F6F9FF;

    @media (max-width: 937px) {
      padding-left: 4%;
    }

    @media (max-width: 875px) {
      flex-direction: column;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      position: static;
    }

    @media (max-width: 390px) {
      top: 71px;
    }
  }
}
