.wrap {
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // position: fixed;

    .logo {
        width: 121px;
        height: 30px;
    }

    .info {
        display: flex;

        .tel {
            margin-right: 30px;
        }
    }
}