.wrap {
    background-color: #011846;
    color: #fff;
    height: 228px-51px-48px;
    padding: 48px 138px 51px 138px;

    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 66px;
    }

    img {
        background-color: inherit;
    }

    .info {
        width: 39.6%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .name_company {
            display: inline;
            font-size: 14px;
        }
    
        .social_networks {
            display: flex;
            width: 10.8%;
            justify-content: space-between;
            align-items: center;
        }
    }
}